<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/DELL 5490/eclipse-workspace/SeleniumDemo/amazon">
        <classes>
            <class name="com.amazon.TestCases.TestCases1">
            <methods><include name="testCase"/></methods>
        </class>
        </classes>
    </test>
</suite>